$main-color: #0F3B6F;
$cl-white: #fff;
$cl-gray-light: #999;
$cl-gray-dark: #666;

$cl-blue: #3591FF;
$cl-purple: #7791F6;
$cl-light-blue-green: #52E8C5;
$cl-green: #39D8B1;
$cl-light-yellow: #FFF29A;
$cl-orange: #FAA923;
$cl-light-orange-red: #F8780E;
$cl-orange-red: #FF4747;






